@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

p {
  font-family: "Alegreya", serif;
  font-size: 1.2rem;
  line-height: 1.6;
}

.type-racer-header {
  color: #fff;
  font-family: "Nunito", sans-serif;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 2rem 0 0.5rem 0;
  font-size: 2.5rem;
}

.main-header {
  width: 100%;
  background-color: #ff8400;
  box-shadow: 0 2px 8px rgba(255, 132, 0, 0.08);
  margin-bottom: 2rem;
  padding-bottom: 1.5rem;
}

.instructions-btn {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 0;
}

.results-box {
  border: 2px solid #ff8400;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(255, 132, 0, 0.08);
  background: #fff;
  color: #333;
}
